/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal_last_block {
		margin-top: 35px;
	}
.personal_block {
	text-align: left;
}
.personal_block h3 {
	text-align: left;
}
.right_block h3 {
	margin-top: 40px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_wrapper .top_text h1 {
		font-size: 2.4em;
	}
	.resume_container .left,
	.section_content .resume_container  h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 15px;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top_wrapper .top_text p {
		font-size: 12px;
	}
	.main_footer {
		text-align: left;
	}
	.main_footer .social_wrap {
		margin-top: 20px;
		float: left;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}
	.portfolio_item h3 {
		font-size: 10px;
	}
	.portfolio_item p {
		font-size: 10px;
	}
	.portfolio_item .popup_content {
		font-size: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.portfolio_item h3 {
		font-size: 10px;
	}
	.portfolio_item p {
		font-size: 10px;
	}
	.portfolio_item .popup_content {
		font-size: 11px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}